<div class="container">
    <h1 class="my-4">{{course.title}}</h1>
    <div class="row">
        <div class="col-md-8">
            <img class="img-fluid" src="{{course.imageUrl}}" alt="{{course.title}}" width="500" />
        </div>

        <div class="col-md-4 text-center">
            <h3 class="my-3">Course Description</h3>
            <p>{{course.description}}</p>

            {{#if creator}}
            <a class="btn btn-danger" data-doc="{{course._id}}">Delete</a>
            <a class="btn btn-warning" href="/edit-course/{{course._id}}">Edit</a>
            {{/if}}

            {{#if enrolled}}
            <span class="enrolled-span">You are already enrolled</span>
            {{/if}}
            {{#unless enrolled}}
            <a class="btn btn-primary" data-doc="{{course._id}}">Enroll</a>
            {{/unless}}
        </div>
    </div>
</div>

{{#section 'scripts'}}

{{#if creator}}
<script>
    const deleteBtn = document.querySelector("a.btn-danger");

    deleteBtn.addEventListener('click', event => {
        const endpoint = `/delete-course/${deleteBtn.dataset.doc}`
        fetch (endpoint, {
            method: 'DELETE',
        })
        .then(response => response.json())
        .then(data => window.location.href = data.redirect)
        .catch(e => console.log(e));
    });
</script>
{{/if}}

{{#unless enrolled}}
<script>
    const enrollBtn = document.querySelector("a.btn-primary");
    
    enrollBtn.addEventListener('click', event => {
        const endpoint = `/enroll-course/${enrollBtn.dataset.doc}`
        fetch (endpoint, {
            method: 'PUT',
        })
        .then(response => response.json())
        .then(data => window.location.href = data.redirect)
        .catch(e => console.log(e));
    })
</script>
{{/unless}}

{{/section}}
